@charset "UTF-8";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 60px;
}
.notification {
  position: fixed;
  right: 5%;
  top: 0px;
  width: 300px;
  z-index: 9999;
  -webkit-transition: top 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: top 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: top 0.5s ease-out, opacity 0.5s ease-out;
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
  visibility: hidden;
}
ul {
  list-style: none;
}
.handle,
h4 {
  display: inline-block;
}
.icon {
  margin: 10px;
}
.panel-title {
  width: 100%;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
.invalid-json {
  color: red;
}
.valid-json {
  color: green;
}
html {
  overflow-y: scroll;
}
/* Include this file in your html if you are using the CSP mode. */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-block-transitions {
  transition: 0s all!important;
  -webkit-transition: 0s all!important;
}
/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active,
.ng-hide-remove {
  display: block!important;
}
